_obuild
.gitignore
_olint
.ocplint
*~
#*
autom4te.cache
config.status
.depend
*.cm*
*.o
*.annot
*.automaton
*.a
src/coreSig.ml
src/extSigs.ml
src/smtlib_lexer.ml
src/smtlib_parser.ml
src/smtlib_parser.mli
src/smtlib_parser.conflicts
config.log
autoconf
ocp-autoconf.d
META
